venv
venv2
venv3
build
doc/build
dist
*.egg-info
*.swp
*.swn
*.swo
development.env
*.pyc
.idea
.python-version
.ropeproject
\#*\#
.eggs
lib
.vscode
pyvenv.cfg
coverage_report/
.coverage*
.DS_STORE
cov.xml
secrets*

test_script_*
